[2021-11-21 18:56] jonasvdd opened #1 "Fix nans when resampling with LTTB"
minimal snippet:

[code]

[2021-11-24 08:35] jonasvdd opened #2 "Parrallelize the resampling"
- [x] How will the verbose-argument work then?
-> maybe if verbose, set n_jobs to 0
- [x] use multiprocess to deal with local scope methods

[2021-12-03 13:05] jvdd opened #4 "Box & lasso select do not work when resampling"

[2021-12-04 09:54] #1 closed, assigned to jonasvdd

[2021-12-04 11:02] jonasvdd opened #5 "Horizontal drag causes autoscale"
![autoscale](https://user-images.githubusercontent.com/38005924/144707067-f5898643-04df-4d0e-9c8d-fcde6b3b4516.gif)

expected behavior - keep y-range

[2021-12-04 16:37] jonasvdd opened #7 "Look into anti-aliasing downsamplers"

[2021-12-04 22:14] jonasvdd commented on #5
Fixed by #8

[2021-12-04 22:14] #5 closed

[2021-12-09 14:23] jonasvdd commented on #7
fyi: #12 sets LTTB as default callback-function (which is less prone to aliasing i.m.o.)

[2021-12-22 20:06] jonasvdd opened #16 "Improve selenium tests"
- [ ] Perform Wireshark (request) logging to see whether the data effectively gets resampled
- [ ] Log the console output to check whether no errors are thrown
- [ ] Maybe also look at the events

[2022-01-14 12:25] jonasvdd commented on #16
see #17

[2022-01-15 17:28] jonasvdd opened #18 "Roadmap"
This issue is a request to the community to submit what their vision of plotly-resampler is, which features are still worth implementing?

Some features which I find worth pursuing:

* Summary dataset statistics of the respective view (initially in a table)
-> e.g. a Table with df.describe() for each series that is shown.
* Options to **annotate your data**
   No idea how to implement this with pl

[2022-01-17 12:36] szkjn commented on #18
Hi, thanks for the great work.

I'm currently working on a data viz app and came accross plotly_resampler a couple of weeks ago. I'm trying to find a way to incorporate it in my already existing Dash app. Would there be a straightforward way to do that ?

Thanks for your time.

[2022-01-17 15:11] jonasvdd commented on #18
Hi @szkjn,

Lovely to hear that!

Valid question, actually there is a (straightforward) way!
Look at this example: https://github.com/predict-idlab/trace-updater/blob/master/usage.py, here we use the [register_update_graph_callback](https://predict-idlab.github.io/plotly-resampler/#plotly_resampler.FigureResampler.register_update_graph_callback) on a new, standalone dash-app layout. I acknowledge

[2022-01-19 09:24] jonasvdd commented on #18
Hi,

I think that I understand your problem. You have multiple callback functions, which want to output/update the figure-related components. I would suggest that you create a separate issue, where you describe / copy-paste the text above!
You can also DM me on Twitter so we can chat further on discord :)!

[2022-01-19 16:04] jonasvdd opened #19 "Make `FigureResampler` work on existing figures"
i.e. when we wrap a `go.Figure` _with already some high-dim traces registered_,  we do not yet extract these traces and process them as new traces.

This issue addresses this problem and suggests that these pre-existing traces **should** be handled as potential to-be-downsampled traces.

e.g.
[code]

Fair questions:
- [x] How slow is px.line on high-freq data? (w.r.t. creating a scatter instead of

[2022-01-22 16:20] jonasvdd opened #20 "Improve docs"
Add more docs (+ examples) about:
- [x] How to integrate plotly-resampler with your custom dash app
- [x] Plotly-resampler & non hf-traces
- [x] Tips & tricks:
  * optimizing your code for faster figure construction
  * how to (not) add hf-traces and why you should do so
  * Aliasing
- [x] Position ploty-resampler to other tools (Plotjuggler, DataShader, (Holoviews), FigureWidgets + interaction ..

[2022-01-22 16:22] jvdd opened #21 "Resample only the visible traces"
Only resample the traces that are shown, and do not resample the not shown (i.e., toggled off) traces.

This is not straightforward, as toggling a trace in the legend does not result in a callback event (i.e., pure front-end event).
To fix this, we should pass the visibility state of the front-end via the trace-updater. Needs some more thought..

[2022-02-02 01:05] andersdot opened #23 "Attribute Error when running examples"
When running your example notebook I get the following error:

`AttributeError: ('Read-only: can only be set in the Dash constructor or during init_app()', 'requests_pathname_prefix')`

Maybe it's a plotly version issue?

Cheers

[2022-02-02 11:27] jonasvdd commented on #23
Hi @andersdot,

Thank you for submitting this issue,
I am able to reproduce it, I'm on it 🔍 !
Keep you posted!

[2022-02-02 13:24] jonasvdd commented on #23
The problem is indeed with the dash version. The current `JupyterDash` version is not compatible with `Dash` v2.1.0 (see: https://github.com/plotly/jupyter-dash/issues/75).
It is their responsibility to resolve this.

As for now, I will fixate the dash version in the pyproject.toml to v2.0.0 as hotfix.
Once `JupyterDash` has resolved this issue, I can release this lock.

[2022-02-02 13:53] jonasvdd commented on #23
@jvdd, I suppose we create a new release as the tests have run successfully?

[2022-02-03 09:27] jvdd commented on #23
Published a new release with this hotfix!

Thx for pointing out the issue @andersdot :)

[2022-02-04 08:19] jonasvdd opened #24 "Triple click within graph resets axes, but data doesn't get updated"
Still need to investigate where it goes awry.

[2022-02-10 20:11] jonasvdd commented on #2
Current test with this showed that there is no significant added value when the data-aggregation in parallelized. @jvdd, can you elaborate on this?

[2022-02-11 16:47] jonasvdd commented on #19
See #26

[2022-02-12 09:45] jvdd commented on #20
See #26

[2022-02-13 22:11] jvdd commented on #20
Is now merged into the main branch!
v0.2.7 of this package contains these new features :smile:

An example on how you can integrate into a custom dash app can be found under the `dash_apps` folder in [our examples](https://github.com/predict-idlab/plotly-resampler/tree/main/examples)

[2022-02-14 06:20] prokie commented on #20
Thank you very much, I will start integrating it into my app today! 👍

[2022-02-14 07:58] jonasvdd commented on #18
@szkjn, we added a [dash-example](https://github.com/predict-idlab/plotly-resampler/tree/main/examples) on how to use plotly-resampler within a dash app! 😃

[2022-02-14 09:18] prokie opened #27 "Trying to make the resampler work with dynamic graphs"
So I made this minimal example but I can not figure out why I can't get the callbacks to work.

`

    """
    Minimal dynamic dash app example.
    """

    import numpy as np
    import plotly.graph_objects as go
    import trace_updater
    from dash import Dash, Input, Output, State, dcc, html
    from plotly_resampler import FigureResampler

    x = np.arange(1_000_000)
    noisy_sin = (3 + n

[2022-02-14 12:53] jvdd commented on #27
Great to see you toying around with our package! :smiley:

Your code does not work because of a (large) limitation of d ash; **it is not possible to dynamically add callbacks in a dash app**. In your example, you try to do this in the `display_graphs` function when you call the `figure.register_update_graph_callback` function.

To circumvent this, you should register the callbacks statically (and

[2022-02-14 15:24] jonasvdd commented on #27
@prokie, I suppose it should! I will also look into this a little! Keep you posted! :)

[2022-02-14 20:37] prokie commented on #27
It probably needs some work done on the TraceUpdater. I assume that `register_update_graph_callback` should work out of the box with something like this
`
figure.register_update_graph_callback(
        app=app,
        graph_id={"type": "graph", "index": ALL},
        trace_updater_id={"type": "graph", "index": ALL},
    )
`

But the `TraceUpdater `I don't really understand and it gives an error w

[2022-03-02 10:57] jonasvdd commented on #23
New version released, I will close this issue

[2022-03-02 10:57] #23 closed

[2022-03-07 15:13] Alexander-Serov opened #31 "Resampler fails for pd.Series if the column is not selected"
Normally, plotly allows one not to specify (the only) column of a series one is plotting. So the following code works fine:
[code]

However, it fails when combining it with the `FigureResampler` with the following error:
[code]

The problem is solved by specifying the column of the series to plot, i.e. `y=ser['a']`. It took me several minutes to find it though and I guess `plotly-resampler` was de

[2022-03-08 13:04] jvdd commented on #31
Hi,

Thanks for creating this issue!

While trying to reproduce your error, I discovered the following;

[code]
creates a `pd.Series` with all (i.e., 100) nan-values.

Changing this to
[code]
results in the expected outcome; a series of 100 ints.

Then, your updated snippet looks like this
[code]

Which works perfectly fine!
But when I convert `ser` to a `pd.DataFrame` (that contains a nan value),

[2022-03-08 14:56] Alexander-Serov commented on #31
Hey @jvdd,

Oops, yes, sorry, I have adapted the snippet from my code but had limited time, so I didn't actually launch it. Sorry if it took you more time to reproduce than it could have had. :(

And indeed, you have identified the problem correctly, my bad. I have gone back to the state of code I had and apparently I have left a single column in a data frame, but it was still a data frame. And, a

[2022-03-08 14:56] #31 closed

[2022-03-08 14:57] Alexander-Serov commented on #31
I have encountered though another problem related to Gitlab pipelines when using `plotly-resampler`. I will post it in a separate issue in case it helps anyone.

[2022-03-08 15:24] Alexander-Serov opened #32 "Unable to install `plotly-resampler` on some linux distributions"
I am using `plotly-resampler`, which installs correctly on my local Windows machine and on another Linux machine I have access to (by just using `pip install plotly-resampler`). However, we also run `Gitlab-CI` tests in a controlled environment and installing with `pip` kept failing in that environment. The exact error was
[code]
I am posting it here in case it helps other folks who might encounte

[2022-03-08 20:20] jonasvdd commented on #27
Working on it! Already have a p.o.c. which does what I think you intend, I think we will have a new release at the end of this week with a Dash example for this use-case.

I indeed had to make some changes to the `TraceUpdater` component! 😃

[2022-03-10 14:52] jonasvdd commented on #27
WIP: see #35

[2022-03-10 14:53] #19 closed

[2022-03-11 22:55] jvdd commented on #27
Is now supported in v0.3.0 :tada:

[2022-03-11 22:55] #27 closed

[2022-03-11 22:56] jvdd commented on #4
Same is true for colors

[2022-03-17 09:46] prokie opened #36 "Deprecation warnings from pandas"
With pandas 1.4 or later I am getting deprecations warnings from figure_resampler.py
[code]

[2022-03-17 10:34] jvdd commented on #36
We check whether the index datatype is integer on this line:

https://github.com/predict-idlab/plotly-resampler/blob/1c309d6b9b41fd8ad65c555a3038d728f8f20e69/plotly_resampler/figure_resampler.py#L189

Appearantly both [`pd.Int64Index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Int64Index.html#pandas.Int64Index) and [`pd.UInt64Index`](https://pandas.pydata.org/pandas-docs/st

[2022-03-18 19:32] #36 closed

[2022-03-22 08:18] jonasvdd commented on #20
@prokie, were you able to integrate it in your app?

[2022-03-22 09:48] prokie commented on #20
Yes, I also got the dynamic callbacks working. Great work!

[2022-03-22 10:20] jonasvdd commented on #20
Glad to hear! :)

[2022-03-22 20:56] jonasvdd opened #39 "How to stop the underlying graph server?"

[2022-03-25 10:24] prokie commented on #27
One issue that I have found (using the example) is that if I actually try to deploy the server it won't work as intended since we store the FigureResampler objects globally in the dictionary `graph_dict`. Thus all users will share FigureResampler objects, however, the users want to work individually. I instead tried to store the objects using `dcc.Store `but that serializes the data to a dictionar

[2022-03-25 10:33] prokie commented on #27
Maybe you can use `dash-extensions` and the function `ServersideOutputTransform`. This would allow storing objects without serializing them. Will look into this and come back.

[2022-03-25 10:33] jonasvdd commented on #27
Hey @prokie,
Quick idea: is it possible to create a new UUID per user/session -> you can have a graph_dict with type:
[code]
I will give this later some more thought!

[2022-03-25 10:37] prokie commented on #27
Yes that should work aswell.

[2022-03-25 12:11] prokie commented on #27
@jonasvdd Tried using `ServersideOutputTransform` but the issue is the same. It pickles the `FigureResampler` object and when I pack it up it is no longer an object but a dictionary. I guess your quick idea is the way to go. It just seems a little "iffy" to store everything in a global variable.

[2022-03-25 12:55] jonasvdd commented on #27
@prokie,
Mhmm interesting, I acknowledge that my proposed solution indeed is a bit "iffy".
Let me know whether you are able to get it working or find a better way to do so!

[2022-03-25 15:59] emield12 opened #40 "Inconsistent behavior of `show` method"
Currently, when you call the `show` method on a FigureResampler object it returns a down sampled version of the figure that does not resample, which looks like a "broken" figure when zooming in. This behavior is inconsistent with standard Plotly figures and could create confusion.
I see two possible solutions to solve this problem:
- Making the behavior consistent with Plotly by returning the orig

[2022-03-25 16:56] Alexander-Serov opened #41 "Is there a simple way to convert a `FigureResampler` figure to a standard plotly Figure?"
So that the standard plotly Figure includes all the points. My global objective is to save a full-points figure to HTML, and if I just do `write_html` on the `FigureResampler` figure, I only get a reduced-resolution version. It's OK if there is no way, but any thoughts would be appreciated.

I have tried
[code]
but it still saves a rescaled version.

Thanks! :)

[2022-03-25 17:24] jonasvdd commented on #40
I indeed would opt for the second option, mainly due to the disadvantages of the first option, what do you think @jvdd?

[2022-03-27 18:38] jonasvdd commented on #39
see #38

[2022-03-28 07:39] jvdd commented on #41
Hi @Alexander-Serov,

Thanks for submitting this issue!

The behavior you encountered is indeed a bit unexpected and currently under discussion, see #40.

In my opinion, to save a figure with all the data points, you could save a standard plotly `go.Figure`. There is no benefit in saving a `FigureResampler` figure (as the adaptive data aggregation through dash is not available in a saved html file

[2022-03-28 12:42] Alexander-Serov commented on #41
Hey @jvdd,

Thanks for a fast reply. Let me clarify the reason for my original question. We use a Jupyter notebook as our user interface. Our users are not really familiar with python, they just execute the cells updating the paths to files that they are interested in. And then they want to save the figures they plot. The way we do it now is that we return a figure handle to the user that she can

[2022-03-29 12:11] #39 closed

[2022-03-29 12:12] jonasvdd commented on #39
you can call `FigureResampler.stop_server`

[2022-03-29 12:20] jvdd commented on #39
@Moeflon :arrow_up:

[2022-04-05 12:47] jonasvdd opened #42 "LTTB - 0.2.1 not working"
![image](https://user-images.githubusercontent.com/38005924/161756884-0c97f55a-92c6-4e61-aedc-e8f27d192d79.png)

TODO:
- [ ] Look into using other, (more optimized) LTTB versions, such as @mcourteaux its awesome [lttb](https://github.com/mcourteaux/fast-lttb) implementation

[2022-04-08 12:10] jonasvdd commented on #32
Hi @Alexander-Serov,

I encountered the same error issue on my Linux-distro once I tried to update Plotly-Resampler's Python dependencies to `lttbc=0.2.1`, see #42.

Can you state which lttbc & numpy version you are using? (I think the issue lies in that direction).
Then I can further research this and adapt the `pyproject` accordingly.

Best regards,
Jonas

[2022-04-11 15:10] Alexander-Serov commented on #32
Hey @jonasvdd,

Thanks for looking into it. Good idea, it may indeed be related to the versions of other packages in the repo. I already had a numpy-related problem on a different package (though I don't insist there is a direct connection). But just in case: https://github.com/louisabraham/pydivsufsort/issues/30#issue-1039558859

To answer your specific question, I see the pipelines installing th

[2022-04-15 09:15] mcourteaux opened #43 "On click callback in notebooks."
Is it possible to have the plotly on_click() listener work in a Jupyter notebook? If so, could you extend the sample notebook to demonstrate this?

[2022-04-23 16:09] Piotrkow opened #44 "Problem with pyinstaller"
Hi,

First thing - thanks for your work 👍 This Plotly-Resampler allow me to handle 30bln datapoints plots. Really great job!
Unfortunately I have a problem with your library combined with PyInstaller. Code works properly inside PyCharm but when I add to the code "from plotly_resampler import FigureResampler", build standalone .exe file and run it then it crash without any error.
Do you know what c

[2022-04-23 16:48] zxweed opened #45 "FigureWidget() update"
Hi, very useful project, all my career I dream about such thing. It seems that it can make plotly usable in real life, not only in the iris dataset.

Is there a way to dynamic update the resampled FigureWidget instance? For example, in the Jupyter lab:
<img width="735" alt="image" src="https://user-images.githubusercontent.com/16319433/164915359-3f140444-2c97-4527-b9e4-357c011a3fb9.png">

The last

[2022-04-24 08:11] jvdd commented on #45
Hi @zxweed

Thank your for the nice words!

I see you are asking two things here;
a) How to have dynamic resampling with plotly-resampler
b) How to update the graph data

## a) How to have dynamic resampling with plotly-resampler

To use plotly-resampler, one should perform 2 steps; https://predict-idlab.github.io/plotly-resampler/getting_started.html#how-to-use
1. wrap the plotly Figure with `Fig

[2022-04-24 13:29] jvdd commented on #45
Question **b)** is tackled in PR #46

[2022-04-27 13:41] zxweed commented on #45
Is it really necessary to use dash server in Jupyter-only environment? For example, I can't open additional port 8050 on the server, only 8888 is available. After all, the FigureWidget has its own event handlers, on which you can hook your fast resamplers:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/16319433/165531441-ea49337a-dde1-4766-842b-1145a48635a4.png">
[inte

[2022-04-28 06:49] jvdd commented on #45
Oh, I think I get what you mean! That is a very interesting suggestion :smiley:

I'll look into it and will keep you posted in this thread, @jonasvdd also sees the potential of supporting `FigureWidget` as such no port forwarding is required for the end-users (in Jupyter)

Thanks for your input!

[2022-04-28 08:44] jonasvdd commented on #45
@zxweed, very good issue!!

I think it is feasible to implement and has a high-relevance!

However, I will need to break my head about how to implement this without losing too backward compatibility & still having clean code. Will further look into it next week!

(fyi: at the end of this week, we will release a new version #46  which makes our aggregators faster and memory efficient 2x speedup) 🔥

[2022-04-28 15:24] #20 closed

[2022-04-28 15:30] jonasvdd commented on #43
Will probably be tackled together with the future PR of #45 (to support FigureWidget functionality)

[2022-04-30 21:34] jvdd commented on #44
Hi @Piotrkow

Were you able to resolve this issue, or found out some more information about the crash?

I have no experience with PyInstaller. So this answer might not be useful at all. But here are my 2 cents;
* plotly-resampler its dependencies are managed by [Poetry](https://python-poetry.org/), installing the files locally can be done by calling `poetry install` (this is for example used in th

[2022-04-30 22:03] jonasvdd commented on #45
see #47 🙏🏼

[2022-05-06 09:17] jonasvdd commented on #45
@zxweed PR is merged, you can try it out with v=`0.6.0`! Always glad to hear feedback :)

[2022-05-06 09:19] jonasvdd commented on #43
@mcourteaux, plotly-resampler `0.6.0` supports go.FigureWidgets! 🎂

[2022-05-06 09:27] mcourteaux commented on #43
Which means?

[2022-05-06 09:30] jonasvdd commented on #43
That at least dynamic resampling should be supported for FigureWidgets! Still need to test the on click-callback :)

[2022-05-06 09:37] jonasvdd commented on #43
This snippet should work!

[code]

[2022-05-06 12:13] zxweed commented on #45
Thanks, I checked in jupyter lab and notebook - works as it should, you make plotly great again :)

The parameters **hf_x** and **hf_y** are not yet available through fig.data? They cannot be changed dynamically?

[2022-05-06 12:18] jonasvdd commented on #45
Hi @zxweed, to adjust these data properties use the `hf_data` property!
see: https://predict-idlab.github.io/plotly-resampler/getting_started.html#dynamically-adjusting-the-scatter-data

[2022-05-06 12:57] zxweed commented on #45
Yes, thank you, but my chart doesn't update after I change the data - I need to explicitly press some button to do that:

![test](https://user-images.githubusercontent.com/16319433/167135518-baba2da6-6b57-4aab-81c5-4800b02d8f2b.gif)
[plotly.resampler.test.zip](https://github.com/predict-idlab/plotly-resampler/files/8640131/plotly.resampler.test.zip)

[2022-05-07 07:58] zxweed commented on #45
@jonasvdd, should I call some method to update the graph explicitly after changing the **hf_data** property?

[2022-05-07 08:34] jonasvdd commented on #45
Hi @zxweed, we have a solution for your issue! will create a new release for this!

[2022-05-07 08:35] jonasvdd commented on #45
You will indeed have to call an additional method, i.e. `reset_axes` on your `FigureWidgetResampler`

[2022-05-08 02:50] jayceslesar commented on #18
Annotations in a sense of being able to mark some arbitrary x_start and x_end? Very useful but maybe out of scope with this package as that would require a database + some messy plotly code (for now). Happy to hack on that and this in the future....

One thing I know will be useful is similar to the min max aggregator where you would still want to downsample a large dataset but not remove outliers

[2022-05-08 13:31] jayceslesar opened #49 "Double Clicking on Dash App Does not Reset Axes"

[2022-05-08 16:01] jvdd commented on #49
Hi @jayceslesar

Indeed, double-clicking results does not Reset Axes as it results in an “Autoscale” event. @jonasvdd  & I decided to implement an Autoscale event as updating your y-range such that it shows all the data that is in your x-range.

**Note:** vanilla Plotly figures their Autoscale result in Reset Axes behavior, in our opinion this did not make a lot of sense. It is therefore that we h

[2022-05-08 17:09] #41 closed

[2022-05-08 17:10] jonasvdd commented on #32
Hi @Alexander-Serov!

In the coming months, we will look into using a new version of the LTTB algorithm!
keep you posted!

[2022-05-08 18:39] #45 closed

[2022-05-08 18:43] jonasvdd commented on #45
@zxweed  version 0.6.1 has the desired functionality i.e., `FigureWidgetResampler.reset_axes` and/or `FigureWidgetResampler.reload_data`

[2022-05-08 21:39] jayceslesar commented on #49
This does make sense, looking at grafana's implementation of this feature, when zooming in on some data and then double-clicking it only zooms out on the set of points within your x-range. Maybe would want to add some functionality to do this where a developer could explicitly set this in place?

[2022-05-10 08:02] jonasvdd opened #51 "🐛 add_trace seems slow when using a series with `hf_x` and `hf_y` set as a series"

[2022-05-10 10:02] jonasvdd commented on #51
See #52

[2022-05-10 12:41] jonasvdd commented on #51
Fixed with plotly-resampler v=`0.6.2`

[2022-05-10 12:41] #51 closed

[2022-05-10 15:36] jvdd commented on #45
Hi @zxweed

@jonasvdd created the v0.6.2 release, I suspect that he created this release from the #52 branch (which is most likely not branched from the latest version of the main branch).

We will look into it, to avoid such behavior in the next release!

Jeroen

[2022-05-10 15:49] thanosam commented on #45
Hi @jvdd,

Thank you for your fast answer.
I am working in pycharm and I use FigureWidgetResampler since I wanna avoid dash involvement.

In my current implementation I produce plots dynamically from a list.
Everytime I click on an option in the list, the frond-end makes an ajax call to the back-end. Then, until today with plotly I was giving the plot back as an ajax response, adding it in a div.

[2022-05-10 16:15] jonasvdd commented on #45
@zxweed, again, good catch, thanks for telling us! Just deployed `0.6.3` should be fixed now! 😃

[2022-05-10 18:29] jvdd commented on #45
Hi @thanosam

I believe I discovered why no resampling occurs.

I think you use the `plotly.offline.plot()` function, which creates a standalone HTML. Therefore, (I think) there is no connection with the IPython environment that is required for your `FigureWidgetResampler` or your back-end dash application when using `FigureResampler`.

If possible, I would advise to check whether you can ingest t

[2022-05-11 14:41] jonasvdd opened #54 "first graph update seems significantly slower than consecutive ones when dealing with large data"
Cannot seem to reproduce this bug with the use case of 3 traces, each having 90M data points. So will close this issue for now.

[2022-05-11 15:08] zxweed opened #55 "Cannot assing hf_data series when initial size is small"
I make a graph that initially has a small amount of data (or no data at all), and then they are incrementally added. I have encountered that if I don't set **hf_data** at all (or pass less than 1000 points), then the hf_data property is not created (because there is no need to resample, I guess.) Is there a way to create it later, or create it even in case of small amount of data)?
<img width="932

[2022-05-11 15:50] thanosam commented on #45
Hi jvdd,

Thank you for your response. Indeed I need to use the offline version. I need to have it as an html in my response in order to change it dynamically. With this implementation there isn't something I could do?

Thanks

[2022-05-11 21:26] k-a-mendoza opened #56 "Using plotly-resampler with dashapp?"
I'm having some issues when rendering this figure with dashapp.

Firstly, I make a dashapp with the following controls:

[code]
I'm using  an uptime graph to select specific trace segments I want to look at. then, I update 'timeseries-graph' with a callback upon selection within the uptime graph:

[code]

It kinda works, then begins to spit the same error every four seconds, preventing any further

[2022-05-12 11:47] jonasvdd commented on #56
Hi @k-a-mendoza,

I suggest you first look thoroughly at our [dash-app examples](https://github.com/predict-idlab/plotly-resampler/tree/main/examples) and read the docs about [dash-app integration](https://predict-idlab.github.io/plotly-resampler/dash_app_integration.html) to increase your understanding of plotly-resampler!

As you provided an interesting use-case; i.e. detailed & course grained g

[2022-05-12 12:56] jonasvdd commented on #56
Hi @k-a-mendoza,

I created your example https://github.com/predict-idlab/plotly-resampler/blob/figurewidget/examples/dash_apps/dash_app_course_fine.py

[2022-05-12 13:13] jonasvdd commented on #56
In my honest opinion, you should be able to create such an example from reading the docs and having an proper understanding of plotly. If something was not clear in the docs. Please let me know, so I can try to improve this! 😃

[2022-05-12 13:15] jonasvdd commented on #55
there is! set `limit_to_view` true when creating the trace! 😄

[2022-05-12 16:47] k-a-mendoza commented on #56
@jonasvdd Nah its probably my bad. I needed to get familiar and use plotly for a non-typical use-case within like a week for science collection purposes. I'm coming from a primarily oop matplotlib and xarray/numpy datastructures background so there's a lot thats new to me.

[2022-05-12 16:51] jonasvdd commented on #56
@k-a-mendoza, no problem at all. I love doing stuff for the community and enabling others! Certainly on my birthday (today) 🎉

Please, let me know if something still is unclear! 😃

Best regards,
Jonas

[2022-05-12 16:53] k-a-mendoza commented on #56
@jonasvdd Well happy Birthday! I'll be sure to link to this repo once I get this dashboard up and running. (Hm, I should also star this repo too!)

[2022-05-12 16:55] k-a-mendoza commented on #56
@jonasvdd  one question, Why the ```sharedxaxis = False```? Is it just for your example or to prevent changes propagating from zooming in the dynamic graph to the static graph? In my case I need my resampled traces to all maintain the same x axis range upon zoom

[2022-05-12 18:28] zxweed commented on #55
OK, thank you, I will pass a single value when creating the series.

I also observe a strange behavior of the **reload_data()** method - it seems to update internal structures, but the graph remains untouched. If you call it twice in a row, the graph is updated. Maybe I need to call some other method from plotly to enforce update?

![test](https://user-images.githubusercontent.com/16319433/1681436

[2022-05-12 18:39] k-a-mendoza commented on #56
@jonasvdd There also appears to be a bug with the example. the ```callback_helper``` import file has an import dependency ```functionals``` that i can't seem to find a definition for anywhere.

[2022-05-12 18:46] jonasvdd commented on #56
Hi @k-a-mendoza,

I just copied the dash-app example and made it suitable for your use case. So a lot of code still is irrelevant. I will further clean up this example somewhere later this week. I suppose that the `functionals` you mention comes from the `pyfunctional` library.

Hope this helps

[2022-05-12 18:49] jonasvdd commented on #55
What does happen when you call `reset_axes`?

[2022-05-12 19:10] zxweed commented on #55
Call of `reload_data() + reset_axes()` updates the graph, calling only `reset_axes()` does not update, neither with a single call, nor with a double call. Using `reset_axes()` in my case is not desirable because it resets the zoom when the data is updated (i.e., at random moments in time when the user is looking at the chart detail and a new batch of data arrives.)

[2022-05-12 19:26] zxweed commented on #55
The testcase attached:

[resampler.debug (1).zip](https://github.com/predict-idlab/plotly-resampler/files/8681997/resampler.debug.1.zip)

[2022-05-13 08:42] jvdd commented on #45
Hi @thanosam,

I do not think there is a way to add callbacks to plotly.offline plots.

If you want adaptive resampling in your application I would suggest to use dash (as such you can have callbacks, and define your figure using plotly [dash-html-componets](https://dash.plotly.com/dash-html-components)).

More info on how you can integrate plotly-resampler in a dash application;

* our [dash-app

[2022-05-13 09:28] jvdd commented on #55
Hi @zxweed,

Thanks again for highlighting an issue! :smiley:

I reproduced your issue and discovered the following;
* The issue only persists when you are running all your cells using the `Run all` button.
* If you run the cells manually (one-by-one) and wait like 0.5s before between running cell 3 and cell 4 => `reload_data` works as intended.

Can you confirm that this is the case on your end a

[2022-05-13 09:53] prokie opened #57 "Wondering about the license"
Hello.

I really like this software and I have been using it a lot.

Now that I would want to use it in our company, where we run a local dash app, where I and my other team members share results with each other. But after reading the license it seems that I can not use this internally within our company?

[2022-05-13 11:05] zxweed commented on #55
Checked - yes, I have the same behavior, if you wait a little bit (exactly in the interactive mode - perhaps jupyter itself still communicates with the chart), then one call `reload_data()` updates the data normally. But I need to work in batch mode, so I will use the double call as a workaround for now.

[2022-05-14 06:34] zxweed opened #58 "reset_axes() has no effect on subplot"
I tried adding the bottom subplot and the behavior of `reload_data` and `reset_axes` is different from the top graph on it (even by manual cell run) - these calls have no effect on the second graph. Are they handled differently?
![test](https://user-images.githubusercontent.com/16319433/168413575-51b3e4db-758f-4fc2-b843-22d831b660e6.gif)

The test script: [Untitled.zip](https://github.com/predict-

[2022-05-14 18:59] zxweed opened #59 "plans for HeatmapGL type support"
Do you have plans to add support for heatmap-series resampling? it's just a 2D picture and there are many implementations of fast efficient image resampling algorithms...

[2022-05-15 14:50] jvdd commented on #58
Another nice catch @zxweed!

Commit c78481ccce372783cd6f3438edd7937e15614889 in PR #53 solves this issue (we forgot to add the asterik / star operator when calling the update method -> only over 1st xaxis is iterated instead of over all xaxes).

We will soon release a new version containing fixes for all your highlighted bugs!

Cheers,
Jeroen

[2022-05-15 17:47] jayceslesar commented on #59
I had an interesting use case that _includes_ heatmaps...where you would be resampling a time series based on a heatmap selection. Potentially vice versa. More of a dash functionality.

But I also feel like heatmap resampling is fundamentally different than what this library is doing for time series resampling

[2022-05-15 18:02] jayceslesar commented on #59
I guess I could contradict what I said above...say you had a really really fine-grained matrix and you wanted to plot it at a low resolution but when you zoomed in you would get more and more resolution.

Say weather data for example (generalized below)

<img width="1148" alt="image" src="https://user-images.githubusercontent.com/47452474/168487242-67450032-25ca-4a3a-afdd-5ba722d057a7.png">

[2022-05-16 06:11] zxweed commented on #59
My case is viewing a signal with spectrogram, so I need, for example, zoom a fragment of the signal and enhance its detail:

![image](https://user-images.githubusercontent.com/16319433/168529648-1f6462f3-f2a2-40f8-8613-61e96e7c8639.png)

[2022-05-16 07:44] jonasvdd opened #60 "`FigureResampler` replace not working as it should when using a `go.Figure`"
![image](https://user-images.githubusercontent.com/38005924/168543433-67db7ba1-0916-4bfd-af5d-0106fb9275a1.png)

[2022-05-16 15:34] jonasvdd commented on #60
Should be fixed with #53.

The problem was that the user Figure was of type `go.Figure` and I used the `row` & `col` argument with the add-trace function. Silly me 🙃

[2022-05-16 15:34] #60 closed

[2022-05-17 09:23] jvdd commented on #57
Hi @prokie,

Happy to hear that you like our package! :smile:

About the license; *as far as my understanding goes*, it allows (non-commercial) internal usage in companies (as you are doing with your colleagues); e.g., obtaining insights, checking your raw data quality, your processing quality, etc...
Of course, the license also allows research usage and educational usage!

But I believe it does n

[2022-05-17 18:20] prokie opened #61 "FigureResampler removes annotations"
Don't know if this is an enhancement or a bug. But it seems that calling FigureResampler removes the text labels from the plot. At least if the number of points exceeds `default_n_shown_samples`. Here is a simple example illustrating the issue in a dash application.

To see the labels you can uncomment the fig without the `FigureResampler` function.

I guess the wanted behavior if `lttb` removes t

[2022-05-17 20:03] zxweed opened #62 "Flickering while updating one series"
I often have several independently updated series on my charts, so I found that the chart redraws them all when updating only one, causing heavy flickering. Ideally, it would be nice if updating the `hf_data` property caused only that series to be redrawn, without the need to explicitly call `reload_data()`, which cannot determine which series has changed (at most you can add a parameter there tha

[2022-05-17 20:06] zxweed commented on #62
I rewrote the same script on vanilla plotly - everything updates correctly there, see testcase: [dual.plotly.zip](https://github.com/predict-idlab/plotly-resampler/files/8711237/dual.plotly.zip)

[2022-05-18 08:58] jonasvdd commented on #62
@zxweed, on it! 🔍

[2022-05-18 14:41] jonasvdd commented on #62
Thanks for pointing out!
Should be fixed in the next version (will be released in a couple of hours) 🚀

[2022-05-18 15:34] #54 closed

[2022-05-18 15:54] #62 closed

[2022-05-18 15:54] jonasvdd commented on #61
Should be fixed in plotly-resampler `0.6.4`! 🔥

[2022-05-18 15:54] #61 closed

[2022-05-18 15:55] jonasvdd commented on #58
should be fixed with version `0.6.4`!

[2022-05-18 15:57] jonasvdd commented on #44
Hi @Piotrkow, any update on this issue?

[2022-05-18 17:11] prokie commented on #61
Great. Fast to fix as always!

[2022-05-18 17:20] prokie commented on #27
Have been thinking about this for some time now. And I have not been able to store the FigureResampler object without it being serialized in the backend. I guess the way I would want it to work was that you could send the figure to the callback and then create a FigureResampler object from it each time you have to resample the trace.

[code]

But this does not work and  I guess I will have to dig

[2022-05-18 18:17] zxweed commented on #62
Thanks, @jonasvdd, it works now - you're the fastest open-source developers I've ever met :)

[2022-05-18 18:18] PandaGab opened #63 "Different behavior with hf_x with type `int64` vs `float64`"
Hello !
This is a really neat project ! Great job !

I have experienced a weird behavior. I'm working on in a `jupyter notebook` inside `vscode`. The data has a shape of `(6261089,)`.

This snippets work perfectly fine.
[code]

But when I changed the parameter `hf_x=x.astype(np.float64)`
[code]

I get the following error :

[code]

Thank you !

[2022-05-18 18:27] jonasvdd commented on #63
Hey @PandaGab,

Good catch, I'm able to reproduce this issue, I will further look into it! 🔍
Keep you posted!

And as always, thanks for pointing out these bugs, this is the true power of open-source development! 😄

[2022-05-18 18:47] jonasvdd commented on #63
Found the problem! Due to the float-index the int based `pd.Series` slicing is not performed accordingly. The slicing ➡️  `.iloc` should resolve this!

[2022-05-18 18:52] jonasvdd commented on #56
@k-a-mendoza, Your requested dash-app example now is available on the main branch of this repository, so I will close this issue for now! 😄

[2022-05-18 18:52] #56 closed

[2022-05-18 18:58] jonasvdd commented on #63
Released a new version `0.6.4.1` should be fixed over there! 😄

[2022-05-18 18:58] #63 closed

[2022-05-19 15:39] jonasvdd opened #65 "lttbc -> rounding errors when passing int-indexed data"

[2022-05-19 17:27] #65 closed

[2022-05-29 09:13] jvdd commented on #4
Hey @bbradbury,

I had a quick glance at the problem today. What I notice atm; front-end selection is not maintained when panning / zooming
From my observations there is no easy / quick fix for this issue.

I believe to plotly-resampler will have to maintain the selection (its range) in the back-end (for each trace) and send accordingly `selectedpoints` to the front-end when performing resampling.

[2022-06-03 18:53] sstripps1 opened #68 "Support for plotly express"
Hello - I really like this tool! Just wondering if it currently supports plotly express figures (specifically `px.scatter`). If not, is this in the roadmap for the near future?

Thanks!

Sam

[2022-06-03 20:36] jvdd commented on #68
Hey @sstripps1,

Can you elaborate some more on how you envision supporting plotly express figures? Perhaps your thoughts are in line with the comments of `Apprehensive_Sun_420` in [this reddit thread](https://www.reddit.com/r/datascience/comments/sviwma/comment/hxiltwv) thread?

At the moment, we already support plotly express figures, as `plotly-resampler` can wrap any plotly Figure. See this co

[2022-06-03 21:17] sstripps1 commented on #68
Hey @jvdd, thanks for the quick response! My question was primarily in reference to the ability to use the `hf_x` and `hf_y` arguments (as is the case with `Scattergl`), so thanks for clarifying that.

I hadn't considered the case described by `Apprehensive_Sun_420` but I would be interested in a feature like this as well - as little repetitive code as possible is always ideal :)

[2022-06-07 19:00] jvdd opened #69 "no support for dict representation of plotly traces"
The following code works in plotly, but does not work when wrapping the constructor with `FigureResampler`.

[code]

We can support dict representation on 2 places;
1) in the constructor of `AbstractFigureAggregator` (-> not really sure if we want to do this)
2) in the `add_trace` method -> our type hinting indicates that we support dict input, but this is clearly not the case

[2022-06-11 03:12] sorenwacker opened #71 "Question: does it work with large 2D-heatmaps?"
I wonder if `plotly-resampler` works primarily with timelines or can be applied to large two dimensional heatmaps or histograms.

[2022-06-11 07:45] jvdd commented on #71
Hey @sorenwacker,

At the moment, `plotly-resampler` works only for scatter / line plots (i.e., 1D resampling). However, I'm open to extending the code base to also support 2D resampling (but I myself won't find the time for this is the near future).

This is a duplicate of #59 (which we apparently left unanswered - sorry for that...).

I will close this duplicate and repeat this answer in issue #

[2022-06-11 07:45] #71 closed

[2022-06-11 07:58] jvdd commented on #59
Hey @zxweed & @jayceslesar,

Apparently we left this issue unanswered - our apologies for that...

I answered @sorenwacker (who had a similar question) in isssue #71.

Realistically, I won't find time in the near future to implement this myself. But I'm certainly open to include this functionality in this library.
I believe that supporting this should not require major changes to the existing code

[2022-06-12 20:32] jonasvdd opened #73 "`FigureResampler` address already in use - takes way to long to throw error / quit"
![image](https://user-images.githubusercontent.com/38005924/173252467-9bb80a30-b63d-4780-86f8-acac3697d221.png)

I think it is possible to catch this issue ourselves by looking prospective whether this port is in use b4 feeding it to the traceupdater

[2022-06-17 11:57] jonasvdd commented on #69
should be fixed with #70

[2022-06-17 11:57] #69 closed

[2022-06-17 11:58] jonasvdd commented on #68
Should be fixed with #70, and #72, will be released with plotly-resampler 0.7.0 🔥

[2022-06-17 11:58] #68 closed

[2022-06-19 09:26] jvdd opened #76 "FigureWidget(Resampler) does not integrate well in google colab"
In google colab plotly `FigureWidget` & plotly-resampler `FigureWidgetResampler`:

####  🎉 work perfectly when creating an empty figure and displaying it while adding traces in another cell

Example with plotly `FigureWidget`:

![image](https://user-images.githubusercontent.com/18898740/174474171-9e037a48-39ee-4ac9-880e-9d1bbbff4dc0.png)

Example with plotly-resampler `FigureWidgetResampler`:

![i

[2022-06-19 11:51] ghilesmeddour opened #77 "Streamlit support"
Hi,

I tried to use the lib with Streamlit. The figure is displayed correctly but the resmapling does not seem to work. Is there a trick to make it work with Streamlit or is this not supported yet? If not, is there any way to support it?

Thanks,

Ghiles

[2022-06-19 13:07] jvdd commented on #77
Hi @ghilesmeddour,

Thanks for submitting this issue! Can you provide some code as minimal example of your problem?

I've never used streamlit, but I'll gladly look into it! 😊

Cheers, Jeroen

[2022-06-19 13:36] ghilesmeddour commented on #77
Hi @jvdd,

Thanks for your answer. Here is a simple example:

[code]

You can run it using:

[code]

Dependencies:
[code]

[2022-06-19 18:25] jvdd commented on #77
Hi @ghilesmeddour,

Thanks for providing this example, this got me up and running quickly! After some trial & error, I boxed (together with @jonasvdd) this minimal working example together

The trick to use streamlit with plotly-resampler is;
1) use `FigureResampler`
2) execute `.show_dash` in a (sub)process on a certain *port*
    (-> this step ensures that code after the `.show_dash` can be exec

[2022-06-19 18:45] jayceslesar commented on #21
I might be able to take this on within the next two weeks

[2022-06-19 20:17] ghilesmeddour commented on #77
Thank you very much @jvdd,

Thanks for the code, I just tested it, it works fine 😊 It seems to me a reasonable way to integrate a Dash app in Streamlit. I think it can help others and definitely deserves to be in the examples folder 🤓

I wonder though if it would be possible to do without Dash altogether or if the implementation of this lib was very tied to Dash? Is this lib on Jupyter using Dash

[2022-06-19 23:51] jayceslesar commented on #2
I guess a good example is

[code]

[2022-06-20 06:55] jonasvdd commented on #2
Hi @jayceslesar,

I think your quote does summarize this perfectly!

This is one of the reasons that [this benchmarking repo](https://github.com/predict-idlab/plotly-resampler-benchmarks) arose. In [this readme](https://github.com/predict-idlab/plotly-resampler-benchmarks/blob/master/reports/README.md) you can see an elaboration of the graph I will drop below.

![image](https://user-images.githubu

[2022-06-20 07:07] jvdd commented on #77
Glad to hear this implementation works well for you @ghilesmeddour! I'll include this example in our examples folder :smile:

To answer your question; this lib is basically an add-on to plotly that adds data aggregation fucntionality to plotly figures by connecting the figure (which is the front-end where the aggregated data is shown) with a back-end (where the data is stored) via callbacks (that

[2022-06-20 12:07] #77 closed

[2022-06-20 19:46] ghilesmeddour commented on #77
This is very clear. Thank you @jvdd for your help.

[2022-06-22 15:14] thanosam commented on #45
Hi @jvdd ,

I am developing my app in Django and I use django-plotly-dash library for the plots. I was wondering is the plotly-resampler compatible with the django-plotly-dash library? If yes, how?

[2022-06-22 18:50] jvdd opened #82 "Django support (django-plotly-dash library)"
How does this library integrate with Django?

(Issue indicated by @thanosam in #45)

[2022-06-23 12:46] thanosam commented on #82
**I tried to integrate it in Django but I receive the following error:**

  _File "/afs/cern.ch/user/a/asamanta/PycharmProjects/OAF-WEBAPP/venv2/lib/python3.9/site-packages/plotly_resampler/figure_resampler/figure_resampler.py", line 211, in register_update_graph_callback
    app.callback(
  File "/afs/cern.ch/user/a/asamanta/PycharmProjects/OAF-WEBAPP/venv2/lib/python3.9/site-packages/django_plot

[2022-06-23 12:59] jonasvdd commented on #82
Hi @thanosam!

Yesterday I played around a little with the examples from the django-dash repo and got to the point where everything seemed to work except the sockets of TraceUpdater.

For me it seemed that I could not rely on the `register_updat_graph_callback` method and needed to implement it this way:
[code]

Maybe this can help you further

[2022-06-23 13:09] thanosam commented on #82
Hi @jvdd !

Thank you for your fast answer. My pleasure to share with the community my findings.
I will try it and I will let you know.
Fyi I am using the django-plotly-dash library, not the django-dash but I guess your proposal applies the same :)

[2022-06-23 13:19] jonasvdd commented on #82
Hi @thanosam,

My bad, I made a typo! I indeed use the `django-plotly-dash` repo and adjusted my above comment accordingly.

My first guess would be that sockets are in some way (pre)configurable with django; and you need to configure them properly to integrate successively?

Maybe this blogpost can help? https://medium.com/geekculture/a-beginners-guide-to-websockets-in-django-e45e68c68a71

[2022-06-24 08:21] jonasvdd opened #83 "update example notebooks"
Main points:
- [x] add `register_plotly_resampler` / `unregister_plotly_resampler`
  - [x] show `register_plotly_resampler` + `pd.options.plotting.backend` = 'plotly'
- [x] show how `add_traces` can be used
- [x] show how `add_trace` and `add_traces` can be used with dict_input

**to discuss**: maybe also add the hack that when the trace type is not specified with a dict input, that we assume a sc

[2022-06-27 12:53] jonasvdd opened #85 "add windows and mac as platforms to out testing matrix"
Should be roughly the same as we did with the `tsflex` packages @jvdd.

[2022-06-27 16:03] someshfengde opened #86 "No module named _lzma"
While running the dash_app.py demo I am getting this error
![image](https://user-images.githubusercontent.com/42097653/175983507-73dce727-1ecd-4c10-8861-cd27371a52fc.png)
I've installed required libraries (dash_bootstrap_components) and some other one's not sure why it's happening
the code requires lzma for importing `from functional import seq`

[2022-06-27 19:08] someshfengde commented on #86
I'll try it again by opening another codespaces (I've tried that with codespaces might be some issue with codespaces)

[2022-06-28 04:01] someshfengde commented on #86
Hi, there is an issue with running plotly-resampler in GitHub codespaces.
It's working fine in the local environment.

[2022-06-28 04:01] #86 closed

[2022-06-28 04:24] someshfengde commented on #83
Hi I'd like to contribute on this can you please provide more details about where should I add these?

[2022-06-28 07:15] jvdd commented on #86
Interesting! I'll look into why code spaces won't work (I have never used that environment before though)

[2022-06-28 07:17] someshfengde commented on #86
sure :)

[2022-06-28 09:21] jonasvdd commented on #57
@prokie, Plotly-Resampler now has an MIT license! 🔥 🥅

[2022-06-28 14:33] jvdd commented on #86
I looked into it on the computer of a colleague and stumbled upon the same issue (as I have no access to codespaces atm).

I might look into in the future when codespaces is publically available (but for now I'll leave it as is)

[2022-06-28 14:54] someshfengde commented on #86
Sure 👍🏻

[2022-06-29 06:01] darynwhite opened #89 "Unexpected inverted y-axis from `FigureResampler`"
First, thanks for creating this! Our data can be very oversized for Plotly and this has the potential to save us a lot of development time!

**Background:**
I'm developing a library of Plotly figure functions for our varying datatypes (meteorological and oceanographic) and our rain sensor samples at 1-minute intervals, but our data extend from 10 months to 2+ years.

**Problem:**
It's on the verge

[2022-06-29 06:37] jvdd commented on #89
Hi @darynwhite,

Sounds like an awesome project!
Thanks for pointing out this issue :)

This is indeed unexpected / weird behavior. Plotly-Resampler should behave exactly the same as plotly.

I believe in your exanple plotly-resampler considers the datatype of hf_y as string (categorical). Does it work as expected when you call `.astype("float32")` on the series that you pass as `hf_y`?.

Can you

[2022-06-29 09:25] prokie commented on #27
Is it still necessary to save the Figure objects globally with the latest plotly release?
@jonasvdd

[2022-06-29 14:21] #89 closed

[2022-06-29 16:27] jonasvdd commented on #89
Is fixed in plotly-resampler `0.7.2.2`

[2022-06-29 17:53] darynwhite commented on #89
Well, that did fix it, and you were correct. Despite it being `NaN`s and `float32` data, Pandas had it be of `dtype: object`.

Your suggestion of calling it with `.astype("float32")` worked before pulling the PyPi update, but the changes from #90 also fixed it.

Thanks! I look forward to integrating this into our workflows!

[2022-06-29 22:16] sstripps1 commented on #68
This is great, thank you so much @jonasvdd ! 🚀

[2022-06-29 22:19] jonasvdd commented on #68
Also major credits to @jvdd ! 🚀

[2022-06-30 13:42] thanosam commented on #82
Following this tutorial I manage to handle dash @app.callbacks in Django: https://www.youtube.com/watch?v=psvU4zwO3Ao&t=2615s&ab_channel=PipInstallPython

In the simpleexample.py file I replaced the content as follows:

[code]

Now, I see the 'Loading...' in the plot for a sec and then nothing. :/
I work with serve_locally=False, trace-updater==0.0.8, plotly-resampler==0.7.2.1, plotly==5.8.2, dash

[2022-07-01 10:30] jonasvdd commented on #83
Hi, @someshfengde, would be lovely!

Sure, you could start with
1. adjusting the `basic_example.ipynb`
  There, you could
   * add **composability** section: where we highlight how to change the FigureResampler <-> FigureWidgetResampler
   * addjust some traces into dicts
   * maybe use the add_traces function
2. Adding a new `register_plotly_resampler.ipynb`
   * Where you use the `register_plotl

[2022-07-01 11:39] jvdd opened #93 "Current LTTB (lttbc) algorithm is sometimes numerically unstable"
There appears to be (very minor) changes in floating point numbers when using the [lttbc](https://github.com/dgoeries/lttbc) LTTB implementation

This causes test `test_fwr_time_based_data_s` to fail sometimes

A fix for this would be using our own lttb algorithm (also implemented in C) -> see #84

As for now, we will disable this test (as this only occurs in very niche use-cases) and leave this i

[2022-07-03 10:58] jonasvdd commented on #27
Hi @prokie,

We are currently looking into serializing plotly-resampler objects (in #87 ); which would enable the use of `ServersideOutputTransform` to store these objects more cleanly. Could you provide a minimal example where you use plotly-resampler & this `ServersideOutputTransform` component?

Cheers,
Jonas

[2022-07-03 12:09] prokie commented on #27
Hi Jonas!

That would be awesome. I can make one!

[2022-07-04 06:10] prokie commented on #27
Hi again,

I guess something like this should work. @jonasvdd

[code]

[2022-07-08 21:37] piotryordanov opened #98 "Are Candlestick charts exporter?"
Hello and thank you for this awesome project.

It works fine for normal arrays, but it doesn't seem to do anything for candlestick charts.
Is this normal?

Thx in advance!
Piotr

[2022-07-10 14:53] AhmedThahir opened #99 "Missing points"
Why are points missing?
From the watching the gif linked from your research paper, I thought that it would resample once again when I zoom in.

# Code for the data

[code]

# Before Zooming

### Not Resampled
![image](https://user-images.githubusercontent.com/94914628/178149982-421676d8-6e6a-4dc6-b9f4-d7f63bc06fc4.png)

### Resampled
![image](https://user-images.githubusercontent.com/94914628/1781

[2022-07-11 07:43] jonasvdd commented on #99
@AhmedThahir As you've closed this issue I suppose you found in the readme/docs that the "show" method returns a static figure whereas the "show_dash" method (for the FigureResampler) enables this interactive resampling

[2022-07-11 07:49] AhmedThahir commented on #99
What's the difference between
- using `show_dash` with `FigureResampler`
- using `show` with `FigureWidgetResampler`

[2022-07-11 08:02] jonasvdd commented on #99
Hi @AhmedThahir,

I agree this is somewhat confusing, I think this can be best summarized with:
* `show` *always* returns a static figure view i.e., no dynamic aggregation will be performed
* To have dynamic aggregation:
  * with `FigureResampler`, you need to call `show_dash` -> which spawns a dash-web app, and the dynamic aggregation is realized with dash callback
  * with `FigureWidgetResampler

[2022-07-11 08:25] AhmedThahir commented on #99
Ah got it now.

Regarding the documentation, I believe it's pretty good. Only that this particular concept that you just clarified wasn't very clear.

If you could add this to an FAQ section or something, it'd be great.

[2022-07-11 08:32] jvdd commented on #99
Great suggestion about the FAQ, I'm very keen on adding this. What do you think @jonasvdd?

[2022-07-11 08:38] jonasvdd commented on #99
Agree, we can add an FAQ tab to the docs, but would create a separate PR for that!

[2022-07-11 15:54] jvdd opened #101 "Investigate compatibility / integration options with pyscript"
Leveraging pyscript we would be able to deliver a fully browser-based solution (avoiding the need of a ipykernel backend in the case of FigureWidgetResampler of dash backend in the case of FigureResampler).

PS: this idea was suggested by @AhmedThahir in #100

[2022-07-12 16:39] SirVer opened #102 "Dash examples documentation is lacking"
So I want to use this wonderful library within my web application - I do not do jupyter notebooks, since most of my apps end up with the business site of our company in the end. I succeed in doing this with my data:

[code]

The show_dash serves a webserver, and within it everything works great. However, I want to call `run_server` since I have other logic. However, whenever I do that, also adding

[2022-07-13 06:55] jvdd commented on #98
Hi @piotryordanov,

This toolkit was built with our use-case in mind; enabling visualization of large time series (mostly in the research domain). At the moment, this does not include candle stick support.

However, I believe (after a brief discussion with @jonasvdd) that supporting candlesticks should be feasible.
@jonasvdd or me will give it a look in the near future.

Cheers,
Jeroen

[2022-07-14 18:18] jonasvdd commented on #27
Hi @prokie,

This example seems to start, but I get the following error.

[code]

It seems like it is the error from this issue: https://github.com/thedirtyfew/dash-extensions/issues/185, but as I'm not that acquainted with that codebase, it is rather hard to find out what I'm doing wrong.

fyi: I'm working with the plotly-resampler code on the master branch, which normally has serialization suppo

[2022-07-14 18:40] prokie commented on #27
I can test it out tomorrow. I did not know that serialization support was done!

Yes that error is related to flask_caching, I think the issue was fixed in 0.1.4 for dash_extensions, before you had to run with flask_caching==0.6.0. But I will test tomorrow and get back to you.

[2022-07-16 15:54] jonasvdd commented on #27
Hey! @prokie

Just wanted to mention that I got it working! 🔥
No global variable needed, using the `ServerOutput` to have independent graphs for each user / session.

Will share later on today my working example (It did require some small adjusting of the dash-extensions because I could not get the default lib working on my machine).

[2022-07-17 08:22] jvdd commented on #42
Closing this as we now have our own lttb implementation in this repo (#103)

[2022-07-17 08:22] #42 closed

[2022-07-17 08:23] jonasvdd commented on #93
Will be fixed in a new release with #84

[2022-07-17 08:23] #93 closed

[2022-07-18 06:10] prokie commented on #27
Great looking forward to see it. I also made an example that works. I put it in your issue over at  [dash-extensions](https://github.com/thedirtyfew/dash-extensions/issues/192#issuecomment-1186803878).

[2022-07-18 14:59] jonasvdd commented on #102
Hi @SirVer,

The dash-app examples will be improved in PR #104.

If you want to provide more feedback; this is the branch: https://github.com/predict-idlab/plotly-resampler/tree/improve_docs/examples

[2022-07-19 16:03] thanosam opened #106 "Error in the lttbc=0.2.0 dependency. Blocks the installation in openshift"
In my app, when I add the plotly-resampler in my requirements file and I try to deploy it in openshift I receive the following error:

It seems that in setup.py file of the lttbc==0.2.0 is imported the numpy in line 7, something that changed in lttbc==0.2.1. Why in your dependencies exists lttbc==0.2.0 and not lttbc>0.2.0?

[2022-07-19 19:22] jvdd commented on #106
Hi @thanosam

In commit https://github.com/predict-idlab/plotly-resampler/commit/5ed847b8f5572901263c8625bc0fb8ddeb9795d5 @jonasvdd fixated the version on 0.2.0 (perhaps he can explain why?)

However, in PR #103 we added an adapted C implementation of the LTTB algorithm in this repository. As such the lttbc dependency is dropped now.
We haven't made a new release yet, but you can try install the p

[2022-07-20 08:00] jvdd commented on #44
Ping @Piotrkow? :angel:

[2022-07-20 08:04] jvdd commented on #32
Hi @Alexander-Serov, any updates on this?

PS: we added an adapted C implementation of LTTB in this repo #103 (hence the lttbc dependency is dropped now) - we did not create a new release yet (but you can try out [this prerelease](https://pypi.org/project/plotly-resampler/0.8.0rc5/))

[2022-07-20 21:43] Alexander-Serov commented on #32
Hey @jvdd ,

thanks for the update! I will try to find a moment to give it a try in the coming days!

[2022-07-28 09:06] clemente0420 opened #108 "when install plotly-resampler Collecting lttbc==0.2.0 always fail"
Collecting lttbc==0.2.0
  Downloading lttbc-0.2.0.tar.gz (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.4/91.4 kB 247.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      Tracebac

[2022-07-28 09:19] clemente0420 commented on #108
using normal-way setup.py may be better, not using subprocess install

[2022-07-28 09:34] jonasvdd commented on #108
Hi @clemente0420, can you try to install the plotly-resampler release candidate? https://pypi.org/project/plotly-resampler/0.8.0rc5/

In this version (see branch `improve_docs`), we added our [own derived LTTB implementation](https://github.com/predict-idlab/plotly-resampler/blob/fb8f42f28ae0ebdc67dcbe1081cedf23440f72ca/plotly_resampler/aggregation/algorithms/lttbcv2.c) instead of depending on ltt

[2022-07-28 09:34] jvdd commented on #108
Hi @clemente0420,

I think this issue is related to #106

Does `pip install plotly-resampler==0.8.0rc5` work for you? (as in this pre-release we removed the lttbc dependency and included an adapted C implementation in this repo - see more in my answer to #106)

[2022-07-28 09:35] jvdd commented on #108
Damn @jonasvdd beat me by 3 seconds :upside_down_face:

[2022-07-28 09:35] SirVer commented on #102
@jonasvdd Thanks for the link. I will review and leave feedback on the PR.

[2022-07-28 09:35] jonasvdd commented on #108
🐎

[2022-07-28 09:37] jvdd commented on #106
Hi @thanosam, can you confirm that installing the pre-release resolves the issue?

[2022-07-28 09:44] thanosam commented on #106
I didn't install the prerelease yet. Currently I solved it by forcing the installation of numpy in the setup file.

[2022-07-29 13:30] jonasvdd commented on #108
Hi @clemente0420

Did installing `plotly-resampler==0.8.0rc5` work for you?

[2022-07-29 20:01] jonasvdd opened #109 "Plotly-resampler needs ipywidget installed as a non-optional dependency"
This is okay for most use-cases; but when you just wan to create a dash-app with plotly-resampler you might find it cumbersome to install `ipywidgets` (with all its dependencies).

I think this can be resolved with some try-expect imports.

e.g., one of the main issues is the `BaseFigureWidget` check -> so if we replace this with a try-except; this would be resolved.

[2022-07-30 09:26] jonasvdd commented on #108
Hi @clemente0420,

Could you try `pip install plotly-resampler==0.8.0rc11` (skip the ones in between 🤡).

Kind regards,
Jonas

[2022-07-30 09:27] jonasvdd commented on #106
Hi @thanosam,

Have you found time to install the pre-release (currently the latest is `pip install plotly-resampler==0.8.0rc11`)

[2022-07-30 11:53] #109 closed

[2022-08-01 07:49] thanosam commented on #108
Try to have preinstalled in your environment the numpy. You can do so in the setup.py file. This is how it worked for me so far (last plotly-resampler installed is 7.2.2)

[2022-08-01 07:54] jonasvdd commented on #106
okay, as it seems resolved, I will close this issue for now!

[2022-08-01 07:54] #106 closed

[2022-08-09 13:58] jonasvdd commented on #40
Maybe this can also be handled within #104

[2022-08-11 08:51] valankar opened #110 "len() of unsized object"
I get the following error trying to use this in my code:

[code]

Let me know what further details are needed.

[2022-08-11 09:40] jonasvdd commented on #110
hi @valankar,

Amazing that you are using plotly-resampler! 🚀

Which version of plotly-resampler do you use specifically?  To finde out, use this command:

[code]

Could you share what the `trace` property withholds of this line or share a minimal reproducible example of your issue?

[2022-08-11 12:31] valankar commented on #110
Hi Jonas, here is the output. I tried pip first, then I installed with conda:

[code]

You're right, I missed the last line, here is the full trace with a print of 'trace' just before the crash:

[code]

I will see if I can reproduce it with an isolated code.

[2022-08-11 12:47] valankar commented on #110
Here is a quick reproduction:

[code]

[2022-08-11 13:14] jonasvdd commented on #110
Hi @valanka ,

good catch 🧐 there was indeed a bug with plotly-resampler.

We apply this `len(...)` check too early; I fixed this issue; added a test and released `plotly-resampler=0.7.2.3`

Can you verify that everything works fine now?

Thanks again for pointing this issue out!

[2022-08-11 14:22] valankar commented on #110
Thanks for the quick fix. I get an error installing with pip:

[code]

Not sure if there is something messed in my environment. However, I did try:

[code]

and this worked. Perhaps something wrong with the latest version?

[2022-08-12 05:46] valankar commented on #110
I applied the change manually to figure_resampler_interface.py and it seems to work. Maybe install error is unrelated.

[2022-08-12 05:46] #110 closed

[2022-08-12 07:16] jonasvdd commented on #102
As #104 is merged, I will close this issue! 😄

[2022-08-12 07:16] #102 closed

[2022-08-12 07:18] jonasvdd commented on #99
@AhmedThahir,

Now there is an FAQ section in our docs. (https://predict-idlab.github.io/plotly-resampler/FAQ.html
This issue is documented there aswell!

[2022-08-12 07:18] #99 closed

[2022-08-12 07:18] jonasvdd commented on #83
Done as #104 is merged!

[2022-08-12 07:18] #83 closed

[2022-08-12 07:37] jonasvdd commented on #49
Documented in #104

[2022-08-12 07:37] #49 closed

[2022-08-12 07:37] jonasvdd commented on #44
@Piotrkow, will close this issue for now as we did not get an update.

[2022-08-12 07:37] #44 closed

[2022-08-12 07:39] jonasvdd commented on #40
Documented in FAQ section of #104

[2022-08-12 07:39] #40 closed

[2022-08-12 07:41] jonasvdd commented on #32
Hi @Alexander-Serov,

Have you already found a moment to try it?
Fyi: We just released `plotly-resampler==0.8.0`, which contains an improved LTTB implementation.

[2022-08-12 07:44] jonasvdd commented on #108
@thanosam @clemente0420,

Normally `plotly-resampler=0.8.0` resolves this numpy build requirement + uses faster (self written) LTTB c bindings. 🚀  additionally we also added more documentation about installation errors in the `FAQ` section of our docs.

Note: when the current C code building fails; there is a slower LTTB python fallback; so normally you should now always be able to install the pac

[2022-08-22 12:09] #108 closed

[2022-08-22 12:11] jonasvdd opened #112 "HF bool series and efficientLTTB"
It seems like hf bool traces are not handled correctly within the LTTB_core_c `python` code (these need to be converted to uint8)

[2022-08-22 12:12] jonasvdd opened #113 "Loosen up plotly dependencies"
see: https://github.com/pycaret/pycaret/pull/2866

[2022-08-22 12:22] jonasvdd commented on #112
nvm 🤡 seems to work fine!

[2022-08-22 12:22] #112 closed

[2022-08-23 09:48] Alexander-Serov commented on #32
Hey @jonasvdd,

I am really sorry for the delay: I have been busy in July and the holiday season intervened in the testing.

In any case, I have finally managed to test the new version and it seems to work great, both locally and on the pipelines! Thanks for the rapid solution to this not-so-simple issue! Amazing. 😀 I can finally remove my try and catch clauses around the plotly-resampler imports.

[2022-08-23 09:52] Alexander-Serov commented on #32
I seem to be launching the FigureResampler on a figure before it contains any data in it. And this seems to fail the resampler isinstance test. I will try to move resampling to the moment once everything has been drawn.

[2022-08-23 16:25] jonasvdd commented on #113
see: https://lgtm.com/projects/g/predict-idlab/plotly-resampler/?mode=list

[2022-08-25 09:07] jonasvdd commented on #32
Hi @Alexander-Serov,

Firstly, thank you for your kind words @jvdd and I really appreciate this! 🤗

I think I found your experienced issue on Windows; you do not seem to have `IPywidgets` installed; which is totally okay!
However, our `is_figure` check ⬇️ method, did not deal correctly with this
[code]
Which gives the following error when comparing with `None`:

![image](https://user-images.github

[2022-08-25 09:21] Alexander-Serov commented on #32
Hey @jonasvdd,

Great, thank you. It's always nice to see a well-maintained repo, you know 😀 So it's in our common interest.

I am happy you have found the nature of the bug. Indeed, on my side I have checked since then, whether applying the plotly resampler after the figure has been drawn changes anything and it does not. It still gives the same error

And another thing I do not understand is tha

[2022-08-25 10:04] #113 closed

[2022-08-25 10:06] jonasvdd commented on #32
Hi @Alexander-Serov,

feel free to test `plotly-resampler==0.8.1` 🎁

It is indeed weird that the bug seems non-determenistic, I hope my fix resolved it! 🤞🏼

[2022-08-25 11:38] Alexander-Serov commented on #32
Well, it is weirdly deterministic: it is always the same plot function. There must be something different about it... 🤔'

Thanks!

[2022-08-25 12:15] Alexander-Serov opened #115 "After upgrading from 0.3 to 0.8.1, one of my notebook cells with resampler runs indefinitely"
I have several figures in a notebook. All other figures plot correctly and I can wrap PlotlyResampler around and show them. However, one particular figure plots just fine, but when I wrap it in PlotlyResampler my cell keeps running indefinitely. This unfortunately blocks my update to 0.8.1. Do you have any idea @jonasvdd ?

#32

`FigureResampler(fig, default_n_shown_samples=MAX_POINTS).show_dash(m

[2022-08-25 12:16] #32 closed

[2022-08-25 12:27] jonasvdd commented on #115
Hi @Alexander-Serov,

I'm a little confused; does it keep running because of the `show_dash` or the wrapping with the `FigureResampler`

[2022-08-25 12:31] Alexander-Serov commented on #115
Hey @jonasvdd,

No, I think it is the `FigureResampler` itself. Here are my latest observations for the same code, same data:
- v0.7.0, no dash: plots fine,
- v0.8.1, no dash: gets stuck.

I will see if I can provide a minimal example, the problem is I am working with copyright code and data, so I cannot just copy-paste... I will see what I can do. But the problem clearly appears in the 0.8.0 rele

[2022-08-25 12:34] jonasvdd commented on #115
Hi, is it possible to create a summary of your data properties (e.g. which trace sizes are we speaking of, what dtype does your data have) and share your plotting code! Than I can try to look whether I can replicate it!

[2022-08-25 12:39] Alexander-Serov commented on #115
The plotting code for this function is very simple, the problem likely comes from the data 🤔. Here is a simplified version of the code:

[code]

[2022-08-25 12:51] Alexander-Serov commented on #115
And here is a sample of data. I hope you are able to reproduce. Remember to convert the index to a time index (perhaps it has an effect?).
[sample_data.csv](https://github.com/predict-idlab/plotly-resampler/files/9424781/sample_data.csv)

[2022-08-25 13:06] jonasvdd commented on #115
For me, this still works, when I run this in an isolated notebook. What is your behavior with this code snippet (note that it uses the sample_data you shared with me)?

[code]

![image](https://user-images.githubusercontent.com/38005924/186672504-092803d5-b51b-4c3c-8e58-37208694abd3.png)

[2022-08-25 13:25] Alexander-Serov commented on #115
Hey!

It does work indeed, but the index in your example is of `object` type. Once I convert it to the DateTimeIndex, it gets stuck. Here is what's missing in your snippet.

[code]

Let me know.

[2022-08-25 23:06] sriveravi commented on #113
Plotly-resampler looks very promising but I couldn't get it to work in my setup. Seems like the dependency conflicts are a bit rough right now but they are actively working on it.

I got it to install on a fresh virtualenv, but things got pretty angry

[2022-08-30 11:23] Alexander-Serov commented on #115
From your silence, I am understanding you were able to reproduce the issue @jonasvdd? Let me know if you need anything else.

[2022-09-07 13:38] jvdd commented on #115
Hi @Alexander-Serov,

I was able to find 2 errors based on minor adjustments of your snippet and implemented a solution in PR #116

* Error 1: we should parse hf_x arrays to numeric or datetime when they are of dtype "object"
* Error 2: to work with multiple time zones in the same hf_x array, we should throw the time zone information away in the visualization (by converting it to UTC)

We can crea

[2022-09-09 11:51] Alexander-Serov commented on #115
Hey!

No worries, it seems you guys were closer to my place than I expected. 🏔️

Glad to hear you found the problems and no problem testing the pre-release, let me know!

Just a short question for error 2 though. You are saying you are considering dropping the TZ information and using UTC. This might render the FigureResampler unusable for our applications, for example, because UTC time could be h

[2022-09-09 12:55] jvdd commented on #115
Hey! What a coincidence indeed :smiley:

Internally, **when there are multiple timezones in the x-data**, we now omit the timezone information (but do not convert the time) In the other cases nothing special happens - see additions to our parsing code;
https://github.com/predict-idlab/plotly-resampler/blob/c0cd89e8a5bd739588133575668be25c3da820b8/plotly_resampler/figure_resampler/figure_resampler_

[2022-09-10 07:08] jonasvdd opened #118 "Validate whether orjson casting still is necessary with more recent orjson versions"
https://github.com/predict-idlab/plotly-resampler/blob/5df40fd0575db62bd06d20c129d8643d75dba558/plotly_resampler/figure_resampler/figure_resampler_interface.py#L703-L705

Maybe also make a test which validates this? (expected behavior -> casting is needed)

[2022-09-10 07:25] jonasvdd commented on #118
![image](https://user-images.githubusercontent.com/38005924/189473703-ee2a04fa-0914-477e-8341-7b9feec60a95.png)

woah, my spider senses are on par! 💪🏼

[2022-09-15 15:01] muntakim1 opened #119 "fig.update_xaxes(range=[start,end]) and fig.update_yaxes(range=[start,end]) is not working"
Here is my code:
I am trying to show only the selected range values using the custom slider.

[code]

[2022-09-15 15:21] jvdd commented on #119
Hey!

This is indeed a bug, nice catch :+1:
We should provide exactly the same behavior as plotly - which is not the case here.

A quick fix for now is setting `autorange` to False for the xaxes; `fig.update_xaxes(autorange=False)` . Does this work for you?

In the mean time I'll try to find a more permanent fix for this bug in the code :)

Cheers,
Jeroen

[2022-09-15 15:46] muntakim1 commented on #119
Hi, Thanks for the comment. I tried earlier but it wasn't working. probably I use the update_layout, Now it's working. thanks agian.
`fig.update_xaxes(autorange=False)`

[2022-09-20 18:12] jonasvdd opened #120 "pandas plotting back-end = "plotly" (and `register_plotly_resampler`) + datetime index working really slow"

[2022-09-24 12:42] jvdd commented on #115
Hey @Alexander-Serov, does the pre-release fixes the issue?

[2022-09-26 07:38] Alexander-Serov commented on #115
Hey @jvdd,
Sorry for the delay, I will check this today!

[2022-09-26 08:33] Alexander-Serov commented on #115
Hey @jvdd,

Sorry again for the delay. I had wanted to test but had forgotten about it! But I've found time to test it now. Here is what I see:
- the snippet I've originally posted works great when upgraded to 0.8.2rc1, good job!
- however, when I try to test a different one, plotting the same data set, but using its time index, my kernel dies 💀 . Strange...

![image](https://user-images.githubuse

[2022-09-27 09:11] jvdd commented on #115
Hi @Alexander-Serov,

First of all thanks for the thorough review on PR #116, @jonasvdd and me will take your remarks into account and update the PR accordingly in the following days. It is really nice to dive into & discuss code with other (more) experienced people - this is the power of open source :smile:

Regarding your comment above: I was also able to reproduce the kernel crash (actually I e

[2022-09-27 14:16] jvdd commented on #115
@Alexander-Serov, taking your comments into account I updated the code and created a new pre-release [`0.8.2rc2`](https://pypi.org/project/plotly-resampler/0.8.2rc2/). Now arrays of `datetime.datetime` will be parsed as well (which should fix the kernel crash issue).

P.S., I still have to look into finding the most optimal way to drop (or converting?) the tzinfo when there are multiple timezones

[2022-09-28 15:53] Alexander-Serov commented on #115
Hey!
You are welcome, it has been a great pleasure to work with you guys so far. 😃 I wouldn't say I am very knowledgeable in plotly in general (you guys should be much better), but I do indeed manipulate datetimes every day.

Considering the question of dropping/conversion of datetimes with different TZs, I think it's important to ask oneself why different TZs got there in the first place:

- As I

[2022-09-28 16:08] Alexander-Serov commented on #115
After first tests, it seems like I am having this AssertionError although all my index datetimes are in the same TZ:

![image](https://user-images.githubusercontent.com/22743277/192830238-38d4edb2-cdf7-4a10-8a76-4771cde3b5ad.png)

I am trying to plot
[code]

on the above data set converted to a single **named** TZ by applying
[code]

Do you confirm?

[2022-09-28 16:09] Alexander-Serov commented on #115
At the same time, if I plot this plot (the one discussed above):
[code]

on the dataset with a single **named** TZ, but DST, this cell continues to run indefinitely.

Let me know if you can confirm. I will continue looking at it tomorrow. 😃

[2022-09-28 16:10] jvdd commented on #115
Yes @Alexander-Serov I indeed had the same assertionerror, we require that the index is sorted. Sorting the index in advance should resolve this

[2022-09-28 21:11] jvdd commented on #115
This PR still needs some more thought - I tend to agree with your comment @Alexander-Serov  https://github.com/predict-idlab/plotly-resampler/issues/115#issuecomment-1261115422

At the moment, I'm unsure if dropping the timezone information is the responsibility of this library - as users can convert it to UTC or drop them themselves..
Perhaps we should (just as you explained in your comment)
- su

[2022-09-30 08:20] Alexander-Serov commented on #115
Hey guys!

I have tested the latest `0.8.2rc3` version, thanks for releasing it! I confirm that the plots behavior has changed, but I am still having a problem. When I launch this plot (with datetime index with a single named TZ), the resampled plot never plots and just runs indefinitely. I think the problem may be due to the long cycle I have commented on in the PR, I will try to investigate (if

[2022-09-30 09:20] Alexander-Serov commented on #115
Update.
I have installed the plotly resampler in a separate environment and the cell works fine. I must have a package incompatibility somewhere. I am checking.

[2022-09-30 12:16] Alexander-Serov commented on #115
Update.
I have investigated further and it is the `.show_dash(mole='inline')` command that hangs for some reason when `x` is provided as index. If I use a simple `show()`, everything is fine. It only occurs in my other environment. When I've created one specifically for the resampler, I do not reproduce with the same code.

Do you have an idea why it could hang on `show_dash` if it's an index and

[2022-10-07 06:54] jvdd commented on #115
Hi @Alexander-Serov,

Thx for investigating this - we both appreciate your efforts :)

I could not reproduce your issue in a Python 3.7.14 environment (with the  same packages as from the `pip freeze` output).. :/

---

To further answer your questions / comments:

I have investigated further and it is the .show_dash(mode='inline') command that hangs for some reason when x is provided as index.

S

[2022-10-10 07:29] ilianOptrel commented on #119
I noticed the same issue with scaling the y-axis. Neither of the following options work for me:
- `fig.update_layout(yaxis_range=[-1,1])`
- `fig.update(layout_yaxis_range = [-1,1])`
- `fig.update_yaxes(range = [-1,1])`.
However, setting autoscale to False in `fig.update_yaxes(range = [-1.25,1.25], autorange=False)` made it work. See my [stackoverflow post](https://stackoverflow.com/questions/73957

[2022-10-10 19:45] jvdd commented on #119
Thx for sharing your issue as well @ilianOptrel!

I have been quite busy last month, but I'll take a closer look at this bug somewhere this week :)

At first sight this bug does not occur when using the `FigureWidgetResampler`. For example the following code should work fine (in an IPython environment, such as Jupyter);
[code]

[2022-10-11 09:29] jonasvdd opened #123 "`show_dash` keeps hanging indefinitely when port is already used."
I experienced (plotly-resampler 0.8.0) that a dash app might keep "hanging" indefinitely, when something is already running on the same port, seems to be caused by a dash-werkzeug combination. Will need to further look into this (fyi: @jvdd )

https://github.com/plotly/jupyter-dash/issues/103#issue-1385617801

[2022-10-11 11:47] jonasvdd commented on #123
![image](https://user-images.githubusercontent.com/38005924/195081646-41121ac2-6997-482c-b568-69875576ba3b.png)

[2022-10-19 15:00] jonasvdd opened #124 "`max_n_samples` in add trace(s) seems to do nothing with `plotly-resampler=0.8.1`"
I was able to pinpoint the issue, and it seems that this line within `AbstractFigureResampler` causes the issue:

[code]
Which calls the `BaseTraceDatatype` its `add_trace` method, which on its end:
![image](https://user-images.githubusercontent.com/38005924/196756520-6cfd80b5-abe2-42b6-ad93-ba72d20bdaa5.png)

calls `self.add_trace` (bringing us back to the `AbastractFigureResampler` class, and as

[2022-10-19 17:02] jonasvdd commented on #123
Seems to be related to the `werkzeug` version, when I switch from `werkzeug`==2.2.0 -> `werkzeug`==2.1.0, everything seems to work fine.

Maybe we keep this issue open and adjust the `pyproject.toml` as a hotfix? @jvdd

[2022-10-20 13:30] jvdd opened #125 "Make kaleido & flask-cors optional depedencies"

[2022-10-22 16:22] #119 closed

[2022-10-22 19:04] jvdd commented on #124
Solved in #127

[2022-10-22 19:04] #124 closed

[2022-11-07 16:12] VictorBauler opened #132 "FigureResampler not working when using backend parameter on ServersideOutputTransform"
Hello and thank you for this awesome project.

I'm trying to specify backend parameter on ServersideOutputTransform in order to set threshold parameter on FileSystemCache, but then if I do that my callback with fig.construct_update_data(relayoutdata) stop working. Any idea about why this is happening?

Code:
[code]

[2022-11-15 16:27] jonasvdd commented on #132
Hi! 🤙 Can you provide a minimal (non-)working example with your behavior?

Kind regards,
Jonas

[2022-11-16 17:11] Wout-S opened #133 "Linking zoom between dynamically generated plots"
Hi,

I am making a dashboard where I want to visualize a large timeseries dataset. Currently the user can upload a datafile and plots are generated sorted by physical quantity (e.g. plot all temperatures together, plot all pressures together). This works perfectly with the resampler!

Now I want to add the functionality where the x-axis of all plots zoom when the user zooms in one of the plots. I

[2022-11-16 17:32] jonasvdd commented on #133
Hi @Wout-S, very glad you like the functionality of plolty-resampler! 😄

Regarding your use-case:

If I understand you correctly, you want to have shared x-axes over your multiple figure objects?
This `shared_axis` functionality can be perfectly achieved via the `make_subplots` method from `plotly.subplots` [📝 docs](https://plotly.com/python-api-reference/generated/plotly.subplots.make_subplots.ht

[2022-11-16 19:13] Wout-S commented on #133
Hi @jonasvdd,

Thanks for the fast reply!
I think the subplots withe `shared_xaxes` is indeed what I want, thanks!. I modified the example and this seems to work:
[code]

However, I might want to have te option to switch the shared x-axis, which is not possible anymore now. Is this the 'modality' you mean? (not familiar with the term)
Also out of curiosity I would still like to understand what goe

[2022-11-17 16:39] ChrisDeufel commented on #82
Hi @jonasvdd,

I am facing the same problem as @thanosam.
Any updates on this issue? :)

[2022-11-17 19:12] tschokokuki commented on #82
Going through the described issue, I got to the same result as @thanosam using his example.

After collecting the static files with Django, the code worked just fine.
This added the missing trace_updater.min.js (among others) to your static files location.

If you run Django behind NGINX inside Docker, make sure that all static files are accessible from or copied into the NGINX-Image.

Hope it hel

[2022-11-20 15:32] cjstudioz commented on #18
may I ask, does that mean bar-charts are not yet supported? this post was quite a while ago.
I'm testing this out on a dash app and seems to work fine for area and lines, but bar charts are
I'm using plotly express to build my charts

`fig.replace(px.bar(noisy_sin))`

[2022-11-20 15:47] jvdd commented on #18
Hi @cjstudioz,

Plotly-Resampler (at the moment) only aggregates data for scatter-like traces.

I believe earlier versions of plotly-resampler crashed when non-scatter-like traces were present in the figure - which the release @jonasvdd is talking about solved.

P.S. If you have any proposal of how bar charts should be rendered (with aggregation functionality), you may always create a seperate iss

[2022-11-20 22:20] cjstudioz commented on #18
happy to create a new feature request / bug report but just wanted to check. Does plotly-resampler currently meant to support bar charts? so I know whether to raise a bug or feature req.

also thanks for this great tool obviously

[2022-11-21 07:55] jvdd commented on #18
We intended to focus initially on scatter traces (as we mainly work on very large time series datasets in our job). However, we are open to extending the functionality of plotly-resampler :) (although this is less of a priority for us)

[2022-11-21 07:56] jonasvdd commented on #18
Hi @cjstudioz, feel free to do so! 😄 Could you then also provide a minimal (slow-)working example?

Normally plotly-resampler `Figures` allows using other visualization types, but as @jvdd stated, we only focused (so far) on the scalability of the scatter traces and have not found significant use-cases for adding scalability to other ones.

[2022-11-21 12:43] jonasvdd opened #136 "Make the `features` dropdown in `readme.md` more "visible""
As for now the `features` dropdown is a tad to blend.

Aditionally:
- add the support for `dataspell`

[2022-11-21 16:57] jonasvdd opened #137 "[BUG] resampling upper/first subplot when zooming in on lower, non-shared x-axes subplots"
## Minimal breaking example:
[code]

Zoom on middle lower plot
![image](https://user-images.githubusercontent.com/38005924/203113837-e1a67a3e-7193-4da9-ae04-0790ddacfe3e.png)
And you will get this:
![image](https://user-images.githubusercontent.com/38005924/203113996-fa527c8f-a1f9-450c-b8ae-894af431315b.png)

i.e., the upper plot is resampled to the same view as the lower one! 😮

## The fix
change

[2022-11-30 17:51] jvdd commented on #137
Closing this as fixed by #138

[2022-11-30 17:51] #137 closed

[2022-11-30 18:50] jonasvdd opened #139 "Move away from the `hf_series` object"